Tipos de datos

In [1]:
a = 3

In [2]:
print(a)

3

In [3]:
type(a)

int

In [4]:
b = "Hola"
type(b)

str

In [5]:
type(5.2)

float

# Operaciones numéricas

In [6]:
5/2

2.5

Hola

5+5

# Operaciones Booleanas

In [26]:
a = "Hola"

In [31]:
5 != 3

True

In [38]:
var = "5"
print(var)

5

In [39]:
type(var)

str

In [45]:
var_float = float(var)

In [46]:
type(var_float)

float

In [47]:
print(var_float)

5.0

# Listas

In [77]:
#Declaración de una lista
lista1 = [3,4,5,6,7,8,9]
lista2 = [30,40,50,60,70,80,90]
lista3 = [300,400,500,600,700,800,900]

In [57]:
lista1 + lista2

[3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 6, 7, 8, 9]

In [55]:
print(lista)

['1', True, [3, 4, 5, 6, 7, 8, 9]]

# Estructuras lógicas y ciclos

In [60]:
for i in lista1:
    if i%2 ==0:
        print(i)

4
6
8

# List Comprehension

In [68]:
 cuadrados_pares = [i**2 for i in lista1 if i%2 ==0]

In [79]:
[i+j+k for (i,j,k) in zip(lista1,lista2,lista3)]

[333, 444, 555, 666, 777, 888, 999]

In [81]:
list(zip(lista1,lista2,lista3))

[(3, 30, 300),
 (4, 40, 400),
 (5, 50, 500),
 (6, 60, 600),
 (7, 70, 700),
 (8, 80, 800),
 (9, 90, 900)]

In [88]:
1 in lista1

False

In [98]:
diccionario = {'nombre': 'Claudio', 'edad': 200, 'cursos':['python','django','js']}

In [100]:
[print(key ," : ", diccionario[key]) for key in diccionario]

nombre  :  Claudio
edad  :  200
cursos  :  ['python', 'django', 'js']

[None, None, None]

In [1]:
nombres = ['Roberto','Claudio','Arturo']
edades = [25,28,23]

In [5]:
diccionario = dict(zip(nombres,edades))

In [28]:
i = 0
while i<7:
    print(i)    
    i = i+1

0
1
2
3
4
5
6

In [30]:
for i in range(1,100):
    if i ==7:
        print('Continue Loop')
        continue
    print(i)

1
2
3
4
5
6
Continue Loop
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [32]:
5+3**2

14

In [35]:
#funciones
def myfunction(a,b):
    return a + b **2

In [36]:
myfunction(5,3)

14

In [37]:
#funciones anónimas
l = [1,2,3,4,5,6,7,8,9]
constante = 5
[myfunction(constante,i) for i in l]

lambda a,b : a+b^2

[6, 9, 14, 21, 30, 41, 54, 69, 86]

In [45]:
import keyword

In [46]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']