Tipos de datos

In [1]:
a = 3

In [2]:
print(a)

3

In [3]:
type(a)

int

In [4]:
b = "Hola"
type(b)

str

In [5]:
type(5.2)

float

# Operaciones numéricas

In [6]:
5/2

2.5

Hola

5+5

# Operaciones Booleanas

In [26]:
a = "Hola"

In [31]:
5 != 3

True

In [38]:
var = "5"
print(var)

5

In [39]:
type(var)

str

In [45]:
var_float = float(var)

In [46]:
type(var_float)

float

In [47]:
print(var_float)

5.0

# Listas

In [77]:
#Declaración de una lista
lista1 = [3,4,5,6,7,8,9]
lista2 = [30,40,50,60,70,80,90]
lista3 = [300,400,500,600,700,800,900]

In [57]:
lista1 + lista2

[3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 6, 7, 8, 9]

In [55]:
print(lista)

['1', True, [3, 4, 5, 6, 7, 8, 9]]

# Estructuras lógicas y ciclos

In [60]:
for i in lista1:
    if i%2 ==0:
        print(i)

4
6
8

# List Comprehension

In [68]:
 cuadrados_pares = [i**2 for i in lista1 if i%2 ==0]

In [79]:
[i+j+k for (i,j,k) in zip(lista1,lista2,lista3)]

[333, 444, 555, 666, 777, 888, 999]

In [81]:
list(zip(lista1,lista2,lista3))

[(3, 30, 300),
 (4, 40, 400),
 (5, 50, 500),
 (6, 60, 600),
 (7, 70, 700),
 (8, 80, 800),
 (9, 90, 900)]

In [88]:
1 in lista1

False

In [98]:
diccionario = {'nombre': 'Claudio', 'edad': 200, 'cursos':['python','django','js']}

In [100]:
[print(key ," : ", diccionario[key]) for key in diccionario]

nombre  :  Claudio
edad  :  200
cursos  :  ['python', 'django', 'js']

[None, None, None]